$helv: 'HelveticaNeueCyr';
$blue: #434f74;
$wh-blue: #719dff;
$pink: #f24f86;

*{
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

.unshow{
  display: none;
}



// pages
@import "pages/header.scss";
@import "pages/main.scss";
@import "pages/footer.scss";
@import "pages/undefined.scss";
// components
@import "components/search.scss";
@import "components/card.scss"; 
@import "components/form.scss";
@import "components/auth.scss";