* {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

a {
  text-decoration: none; }

.unshow {
  display: none; }

.header {
  padding-top: 15px; }
  .header__container {
    display: flex;
    justify-content: space-between;
    width: 1520px;
    margin: 0 auto;
    align-self: center; }
  .header__burger-menu {
    margin: auto 0;
    cursor: pointer; }
    .header__burger-menu-line {
      background: #434f74;
      height: 2px;
      width: 18px;
      margin: 3px 0; }
  .header__logo {
    cursor: pointer;
    align-self: center;
    margin-right: 50px; }
    .header__logo img {
      align-self: center; }
  .header__menu {
    align-self: center; }
    .header__menu-font {
      font-family: "HelveticaNeueCyr"; }
    .header__menu-nav {
      cursor: pointer; }
      .header__menu-nav-ul {
        display: flex; }
      .header__menu-nav-li {
        margin: 0 50px; }
      .header__menu-nav-links {
        color: #434f74;
        font-weight: 500;
        padding-bottom: 16px;
        transition: .1s; }
        .header__menu-nav-links:hover {
          border-bottom: 3px solid #719dff; }
  .header__user {
    display: flex;
    align-self: center; }
    .header__user-icon {
      align-self: center;
      margin: 0 15px;
      cursor: pointer; }

.main {
  font-family: "HelveticaNeueCyr"; }
  .main__sidebar {
    padding-left: 45px;
    width: 260px;
    background: #fff;
    height: 110vh; }
    .main__sidebar-title {
      margin: 40px 0; }
      .main__sidebar-title-text {
        font-weight: 500;
        color: #434f74;
        font-size: 14px; }
    .main__sidebar-list {
      margin: 5px 0; }
      .main__sidebar-list-ul {
        color: #434f74; }
      .main__sidebar-list-li {
        margin: 30px 0; }
      .main__sidebar-list-a {
        color: #959fbb;
        font-weight: 500;
        font-size: 14px;
        margin-left: 15px; }
      .main__sidebar-list-subscribe {
        color: #f24f86;
        margin-left: 30px; }
  .main__content-center {
    width: 100%; }
    .main__content-center-bg {
      padding-top: 40px;
      height: 345px; }
    .main__content-center-avatar {
      margin-left: 120px;
      cursor: pointer;
      width: 0; }
      .main__content-center-avatar img {
        width: 95px;
        height: 95px;
        object-fit: cover;
        border-radius: 5px; }
    .main__content-center-title {
      margin-top: 50px;
      margin-left: 120px;
      width: 0; }
      .main__content-center-title-text {
        color: #fff;
        font-weight: 300;
        font-size: 22px;
        width: 165px; }
        .main__content-center-title-text-span {
          font-weight: 700;
          text-transform: uppercase; }
    .main__content-center-button {
      margin-left: 190px;
      margin-top: 45px;
      font-family: 'Open Sans', sans-serif; }
      .main__content-center-button-subscribe {
        outline: none;
        font-weight: 500;
        color: #fff;
        font-size: 14px;
        padding: 10px 15px;
        background: #f24f86;
        border-radius: 5px;
        transition: .3s;
        border: none;
        cursor: pointer; }
        .main__content-center-button-subscribe:hover {
          filter: brightness(90%); }
    .main__content-center-social {
      margin-top: 31px;
      margin-left: 585px; }
      .main__content-center-social img {
        cursor: pointer; }
    .main__content-center-block {
      background: #fdfdfd;
      width: 980px;
      margin: 30px auto;
      border-radius: 5px; }
      .main__content-center-block-title {
        padding-top: 40px;
        margin-left: 40px; }
        .main__content-center-block-title-text {
          color: #434f74;
          font-size: 19px; }
      .main__content-center-block-wrapper {
        display: flex;
        justify-content: space-between;
        width: 910px; }
      .main__content-center-block-elements {
        align-self: center;
        padding-top: 45px;
        cursor: pointer; }

.footer {
  margin: 50px 0; }
  .footer__center {
    text-align: center; }
    .footer__center img {
      cursor: pointer;
      transition: .3s; }
      .footer__center img:hover {
        transform: rotate(180deg); }

.undefined {
  text-align: center; }
  .undefined__content {
    font-family: 'Open Sans', sans-serif; }
    .undefined__content-center {
      margin-top: 13%; }
    .undefined__content-title {
      font-size: 184px;
      color: #222;
      font-weight: 900; }
    .undefined__content-back img {
      max-width: 50px;
      transition: .3s; }
      .undefined__content-back img:hover {
        transform: rotate(180deg); }

.main__user {
  transition: .3s; }
  .main__user-video {
    width: 1079px;
    height: 560px; }
    .main__user-video-title {
      margin-top: 15px; }
      .main__user-video-title-text {
        font-size: 46px;
        color: #222; }
    .main__user-video-subscribe {
      margin-top: 20px; }
      .main__user-video-subscribe-btn {
        outline: none;
        font-weight: 500;
        color: #fff;
        font-size: 14px;
        padding: 10px 15px;
        background: #f24f86;
        border-radius: 5px;
        transition: .3s;
        border: none;
        cursor: pointer; }
        .main__user-video-subscribe-btn:hover {
          filter: brightness(90%); }

.header__search {
  align-self: center; }
  .header__search-icon {
    position: relative;
    left: 35px;
    top: 3px; }
  .header__search input {
    border: none;
    padding: 20px 45px; }

.main__content-center-card {
  display: flex;
  background: #fff;
  box-shadow: 0px 1px 6px -1px rgba(0, 0, 0, 0.1);
  margin-top: 40px;
  border-radius: 10px; }
  .main__content-center-card-img {
    height: 100%;
    width: 162px; }
    .main__content-center-card-img img {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px; }
  .main__content-center-card-description {
    margin-left: 110px; }
    .main__content-center-card-description-title {
      margin-top: 25px;
      margin-bottom: 20px; }
      .main__content-center-card-description-title-text {
        font-size: 10px;
        color: #434f74; }
    .main__content-center-card-description-subtitle {
      margin-bottom: 13px; }
      .main__content-center-card-description-subtitle-text {
        color: #719dff;
        font-size: 18px;
        font-weight: 500; }
    .main__content-center-card-description-video {
      margin-bottom: 2px; }
      .main__content-center-card-description-video-text {
        font-weight: 500;
        font-size: 12px;
        color: #434f74; }
    .main__content-center-card-description-desc {
      margin-top: 20px;
      margin-bottom: 20px; }
      .main__content-center-card-description-desc-text {
        font-size: 12px;
        color: #434f74; }

#num {
  display: none; }

.back {
  background: #FAFBFD; }

.form {
  width: 375px;
  margin: 0 auto;
  text-align: center;
  background: #FFFFFF;
  border-radius: 5px;
  transition: .3s; }
  .form:hover {
    box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.23); }
  .form__content {
    margin-top: 95px; }
    .form__content-logo {
      padding: 75px 0;
      transition: .3s; }
      .form__content-logo:hover {
        transform: rotate(-360deg); }
    .form__content-title {
      font-family: "HelveticaNeueCyr";
      margin-bottom: 8px; }
      .form__content-title-text {
        color: #7041EE;
        letter-spacing: -0.04em;
        font-size: 62px;
        text-transform: uppercase; }
    .form__content-subtitle {
      font-family: "HelveticaNeueCyr";
      margin-bottom: 108px; }
      .form__content-subtitle-text {
        font-size: 16px;
        color: #2C2929; }
    .form__content-button {
      margin: 16px 0;
      font-family: "HelveticaNeueCyr"; }
    .form__content-btn-getstarted {
      display: block;
      margin: 0 auto;
      font-size: 19px;
      line-height: 58px;
      background: #7041EE;
      width: 305px;
      height: 58px;
      color: #fff;
      border-radius: 24px;
      box-shadow: 0px 16px 60px rgba(134, 109, 201, 0.16);
      transition: .3s; }
      .form__content-btn-getstarted:hover {
        background: #fff;
        color: #7041EE; }
    .form__content-btn-login {
      display: block;
      margin: 0 auto;
      font-size: 19px;
      line-height: 58px;
      background: #fff;
      width: 305px;
      height: 58px;
      color: #7041EE;
      border-radius: 24px;
      box-shadow: 0px 16px 60px rgba(78, 79, 114, 0.08);
      transition: .3s; }
      .form__content-btn-login:hover {
        background: #7041EE;
        color: #fff; }
    .form__content-around {
      margin-top: 30px;
      padding-bottom: 75px; }
      .form__content-around-text {
        color: #2E2727;
        font-family: "HelveticaNeueCyr";
        font-size: 15px; }
      .form__content-around-btn {
        color: #7041EE;
        font-weight: 600; }

.auth {
  margin-top: 10%;
  font-family: 'Source Sans Pro', sans-serif; }
  .auth__block {
    background: #fff;
    width: 455px;
    height: 387px;
    margin: 0 auto; }
    .auth__block-title {
      padding-top: 28px; }
      .auth__block-title-text {
        font-weight: 700;
        font-size: 48px;
        color: #1A1A1A; }
    .auth__block-description {
      margin-top: 60px; }
      .auth__block-description-text {
        font-size: 20px;
        color: #1A1A1A; }
    .auth__block-input {
      margin-top: 30px; }
      .auth__block-input-number {
        background: none;
        border: none;
        outline: none;
        padding-bottom: 10px;
        border-bottom: 1px solid #CDCDCD;
        transition: .3s;
        width: 232px;
        font-size: 20px;
        color: #B4B4B4; }
        .auth__block-input-number:focus {
          border-bottom: 1px solid #4B9FDD; }
    .auth__block-button {
      margin-top: 60px; }
    .auth__block-btn {
      background: #ADD3EF;
      padding: 10px 80px;
      border-radius: 22px;
      color: #fff;
      transition: .2s; }
      .auth__block-btn:hover {
        background: #4B9FDD; }
    .auth__block-title, .auth__block-description, .auth__block-input, .auth__block-button {
      margin-left: 80px; }
    .auth__block-close {
      cursor: pointer;
      margin-left: 155px; }

.paginator {
  text-align: center;
  margin-top: 50px; }
  .paginator-number {
    margin: 10px;
    cursor: pointer;
    transition: .3s; }
    .paginator-number:hover {
      color: #719dff; }
  .paginator_active {
    color: #719dff; }
