.footer{
  margin-top: 200px;
  margin-bottom: 100px;

  &__center{
    text-align: center;
    margin-left: 230px;

    img{
      cursor: pointer;
      transition: .3s;

      &:hover{
        transform: rotate(180deg);
      }

    }

  }

}