.auth{
  display: none;
  position: fixed;
  top: 50px;
  left: 580px;
  margin-top: 10%;
  font-family: 'Source Sans Pro', sans-serif;

  &__block{
    background: #fff;
    width: 455px; height: 387px; 
    margin: 0 auto;

    &-title{
      padding-top: 28px;

      &-text{
        font-weight: 700;
        font-size: 48px;
        color: #1A1A1A;
      }

    }

    &-description{
      margin-top: 60px;

      &-text{
        font-size: 20px;
        color: #1A1A1A;
      }

    }

    &-input{
      margin-top: 30px;

      &-number{
        background: none;
        border: none;
        outline: none;
        padding-bottom: 10px;
        border-bottom: 1px solid #CDCDCD;
        transition: .3s;
        width: 232px;
        font-size: 20px;
        color: #B4B4B4;

        &:focus{
          border-bottom: 1px solid #4B9FDD;
        }

      }

    }

    &-button{
      margin-top: 60px;
    }

    &-btn{
      background: #ADD3EF;
      padding: 10px 80px;
      border-radius: 22px;
      color: #fff;
      transition: .2s;

      &:hover{
        background: #4B9FDD;
      }


    }

    &-title, &-description, &-input, &-button{
      margin-left: 80px;
    }

    &-close{
      cursor: pointer;
      margin-left: 155px;
    }

  }

}
