.back{
  background: #FAFBFD;
}

.login{
  width: 375px;
  margin: 0 auto;
  text-align: center;
  background: #FFFFFF;
  border-radius: 5px;

  &__content{
    margin-top: 95px;

    &-logo{
      padding: 75px 0;
    }

    &-title{
      font-family: $helv;
      margin-bottom: 8px;

      &-text{
        color: #7041EE;
        letter-spacing: -0.04em;
        font-size: 62px;
        text-transform: uppercase;
      }

    }

    &-subtitle{
      font-family: $helv;
      margin-bottom: 108px;

      &-text{
        font-size: 16px;
        color: #2C2929;
      }

    }

    &-button{
      margin: 16px 0;
      font-family: $helv;
    }

    &-btn-getstarted{
      display: block;
      margin: 0 auto;
      font-size: 19px;
      line-height: 58px;
      background: #7041EE;
      width: 305px;
      height: 58px;
      color: #fff;
      border-radius: 24px;
      box-shadow: 0px 16px 60px rgba(134, 109, 201, 0.16);
      transition: .3s;
      &:hover{
        background: #fff;
        color: #7041EE;
      }
    }

    &-btn-login{
      display: block;
      margin: 0 auto;
      font-size: 19px;
      line-height: 58px;
      background: #fff;
      width: 305px;
      height: 58px;
      color: #7041EE;
      border-radius: 24px;
      box-shadow: 0px 16px 60px rgba(78, 79, 114, 0.08);
      transition: .3s;
      &:hover{
        background: #7041EE;
        color: #fff;
      }
    }

    &-around{
      margin-top: 30px;
      padding-bottom: 75px;

      &-text{
        color: #2E2727;
        font-family: $helv;
        font-size: 15px;
      }

      &-btn{
        color: #7041EE;
        font-weight: 600;
      }

    }

  }

}