.paginator{
  text-align: center;
  margin-top: 50px;

  &-number{
    margin: 10px;
    cursor: pointer;
    transition: .3s;

    &:hover{
      color: #719dff;
    }

  }

  &_active{
    color: #719dff;
  }

}